body{
	background-color:#888;
	color:#fff;
	font-size:14px;
}
hr{
margin:2px;
}

button{
	cursor:pointer;
	appearance: none;
    border: 0;
    border-radius: 2px;
	margin:1px;
	white-space:pre-wrap;
}
button.armor{
	width:100%;
	height:28px;
	
}
select{
	appearance: none;
	border:none;
	padding:1px;
	margin:1px;
}
select.rarelity{
	width:30px;
}
select.lv{
	width:20px;
}

textarea.export{
	width:100%;

}
span.armor span{
	vertical-align:top;
}
span{
	display:inline-block;
}
span.armor{
	white-space:nowrap;
}
span.setting{
	width:140px;
	  text-align:right;
}
span.detail{
	width:240px;
}
span.part{
	text-align:right;
}

.status{
	text-align:right;
	width:44px;
	position:relative;
	background-color:#555;
	margin:1px;
	padding:1px;
}
.status::before{
	position:absolute;
	left:0px;
	top:0px;
	font-size:xx-small;
	padding:1px;
}
.status.atk::before{
	color:#fcc;
	content:'攻';
}
.status.def::before{
	color:#cfc;
	content:'防';
}
.status.spd::before{
	color:#ff9;
	content:'速';
}
.status.lp::before{
	color:#ccc;
	content:'体';
}
.status.bst::before{
	color:#cff;
	content:'ブ';
}
.N{
	background-color:#eee;
}
.R{
	background-color:#fc3;
}
.SR{
	background-color:#ccf;
}
.UR{
	background-color:#ff6;
}


span.skill{
	font-size:smaller;
}
span.weapon2 span.status{
	opacity:0.25;
}

.biko{
	font-size:smaller;
}
span.passive::before{
	background-color:#555;
	color:#fff;
	content:"パ";
	margin-right:1px;
}
span.active::before{
	background-color:#c33;
	content:"ア";
	margin-right:1px;
}
span.passive{
	margin-left:2px;
}
span.active{
	margin-left:2px;
}
span.apt{
	margin-left:2px;
}
span.minus{
	color:#f00;
}

:not(th).part::before{
	content:"【";
}
:not(th).part::after{
	content:"】";
}

/*サブウィンド*/
div.subwindow{
	position:fixed;
	z-index:100;
	width:100%;
	height:100%;
	padding:0px;
	left:0px;
	top:0px;
	text-align:center;
}
div.back{
	position:absolute;
	width:100%;
	height:100%;
	background-color:#000;
	opacity:0.6;
}
div.submain{
	text-align:left;
	display:inline-block;
	position:relative;
	background-color:#222;
	height:90%;
	max-width:90%;
	margin:20px;
}
table{
	height:100%;
	width:100%;
	overflow:auto;
	display:block;
	text-align:left;
}
tbody tr{
	white-space:nowrap;
	vertical-align:top;
}
tr td{
	white-space:pre-wrap;
}
thead{
	position:sticky;
	display:table-caption;
	top:0;
	z-index:100;
	background-color:#111;
}
tbody th{
	position:sticky;
	left:0;
	background-color:#111;
	z-index:99;
}
tbody{
	position:relative;
	font-size:smaller;
	height:90%;
}
table td{
	margin-top :4px;
}
th{
	vertical-align:bottom;
	overflow:hidden;

}
th.cat{
	text-align:center;
}
th,td{
	width:40px;
	margin-left:4px ;
	white-space: nowrap;
	overflow:hidden;
	display:inline-block;
}
table tbody tr:nth-child(odd) {
	background: #333;
}

tr .passive{
	width:200px;
}
tr .category{
	width:60px;
}
tr .active{
	width:200px;
}
tr .rarelity{
	width:20px;
}
tr .biko{
	width:100px;
}
tr .name{
	width:140px;
}
th.status::before{
	content:"" !important;
}
tr .status{
	width:32px;
	margin:1px;
}
tr .name{
	white-space: normal;
	width:140px;
}

.filtertarget{
	cursor:cell;
	text-decoration:underline dotted ;
}
td.category::before{
	content:"[";
}
td.category::after{
	content:"]";
}
td.part,th.part{
width:60px;
}
tr .class{
	width:60px;
}
button.pick{
	background-color:#c00;
	color:#fff;
	width:30px;
	height:32px;
}
tr.sort button{
text-decoration: underline;
    background: none;
    color: #fff;
}
th.cat,td.cat{
	width:20px;
}
td.rarelity{
	width:20px;
}
td.cat{
	text-align:right;
}

th.status{
	text-align:inherit;
	position:inherit;
	background-color:inherit;
}
th.pick{
	width:60px;
}
tr:nth-child(odd) th.pick {
	text-align:right;
}
td.N
,td.R
,td.SR
,td.UR{
color:#000;
}
tr .range{
width:20px;
}
td.short{
color:#f66;
}
td.long{
color:#0cf;
}
td.bougu{
color:#939;
}
