
.hilight{
	background-color:gray;
}
body{
	padding:0px;
	margin:0px;
	background-color:white;
}
div.kiji{
	white-space:pre-wrap;
}

div.container{
	height:100%;
		margin:0px;
	padding:0px;
	display:flex;
}
div.header{
	background-color:gray;
}
div.header2{
	background-color:black;
	color:white;
	width:200px;

}
div.header2 div.menu{
	background-color:black;
}
div.menu a{
	display:block;
		padding:0px;
}
div.body{
	margin:2px;
	flex:1;
}
a{
	appearance: none;
	background:none;
	border:none;
	text-decoration:underline;
	padding:4px;
	color:blue;
}
div.menu a{
	color:white;
}

