
.class.s17{
	color:#900;
}
.class.s15{
	color:#990;
}
.class.s16{
	color:#999;
}
.class.s2{
	color:#393;
}
.class.s3{
	color:#cc6;
}
.class.s4{
	color:#696;
}

.class.s5{
	color:#966;
}
.class.s6{
	color:#963;
}

.class.s18{
	color:#933;
}

.class.s7{
	color:#c66;
}

.class.s19{
	color:#c99;
}
.class.s20{
	color:#69c;
}
.class.s8{
	color:#c96;
}
.class.s9{
	color:#cc6;
}
.class.s21{
	color:#639;/*レーネ*/

}
.class.s22{
	color:#900;/*アイネス*/
}
.class.s0{
	color:#c96;/*アーンヴァルmk2*/
}
.class.s1{
	color:#39c;/*ストラーフmk2*/
}
.class.s10{
	color:#900;/*ガブ*/
}
.class.s11{
	color:#339;/*蓮華*/
}
.class.s12{
	color:#cc3;/*ラプ*/
}
.class.s13{
	color:#339;/*アーティル*/
}
.class.s14{
	color:#393;/*エーデル*/
k}
