body{
	background-color:#888;
	color:#fff;
	font-size:14px;
	width:320px;
	line-height:100%;
}
div.info{
	font-size:small;
}
span.biko
,span.skill{
	white-space:pre-wrap;
}
hr{
margin:2px;
}

button{
	cursor:pointer;
	appearance: none;
    border: 0;
    border-radius: 2px;
	margin:1px;
	padding:1px;
	white-space:pre-wrap;
	line-height:90%;
}
button.armor{
	width:100%;
	height:28px;
	
}
select{
	appearance: none;
	border:none;
	padding:1px;
	margin:1px;
}
select.rarelity{
	width:30px;
	text-align:center;
}
select.lv{
	width:20px;
}

textarea.export{
	width:100%;

}
span.armor span{
	vertical-align:top;
}
span{
	display:inline-block;
}
span.armor{
	white-space:nowrap;
}
span.setting{
	width:160px;
	  text-align:right;
}
span.setting span.part{
color:white;
}
span.detail{
	width:240px;
}
.status{
	text-align:right;
	width:40px;
	position:relative;
	background-color:#555;
	margin:1px;
	padding:1px;
	z-index:1;
	font-weight:bold;
}
.status::before{
	position:absolute;
	left:0px;
	top:0px;
	font-size:xx-small;
	padding:1px;
	z-index:-1;
	font-weight:normal;
opacity:40%;
}
.status.atk::before{
	color:#fcc;
	content:'攻';
}
.status.def::before{
	color:#cfc;
	content:'防';
}
.status.spd::before{
	color:#ff9;
	content:'速';
}
.status.lp::before{
	color:#ccc;
	content:'体';
}
.status.bst::before{
	color:#cff;
	content:'ブ';
}
.status.dash::before{
	color:#ff0;
	content:'走';
}
.status.recover::before{
	color:#0cc;
	content:'回';
}
.zero{
	color:#999 !important;
	font-weight:normal;
}
.minus{
	color:#f33;
}
.minus.cost{
	color:#33f;
}
.status.recover{
	background-color:#66c;
}


.status.dash::before{
	color:#ffc;
	content:'走';
}
.status.dash_cost::before{
	color:#fcc;
	content:'走費';
}
.status.jump_cost::before{
	color:#fcc;
	content:'跳費';
}
.status.guard_cost::before{
	color:#fcc;
	content:'防費';
}
.status.hover_cost::before{
	color:#fcc;
	content:'浮費';
}
.status.dash_cost
,.status.jump_cost
,.status.hover_cost
,.status.guard_cost
,.status.cost{
	background-color:#411;
	color:#c33;
}
.N{
	background-color:#eee;
}
.R{
	background-color:#f93;
}
.SR{
	background-color:#99f;
}
.UR{
	background-color:#ff3;
}


span.skill{
	font-size:smaller;
}
span.weapon2 span.status{
	opacity:0.25;
}

.biko{
	font-size:smaller;
}
span.passive::before{
	background-color:#555;
	color:#fff;
	content:"パ";
	margin-right:1px;
}
span.active::before{
	background-color:#c33;
	content:"ア";
	margin-right:1px;
}
span.passive{
	margin-left:2px;
}
span.active{
	margin-left:2px;
}
span.apt{
	margin-left:2px;
}

:not(th).part::before{
	content:"【";
}
:not(th).part::after{
	content:"】";
}

