tr{
	white-space:nowrap;
	position:relative;
	display:block;
}
thead span{
	background-color:inherit !important;
	vertical-align:bottom;
}
thead ::before,
thead ::after{
	content:"" !important;
}
/*サブウィンド*/
div.subwindow{
	position:fixed;
	z-index:100;
	width:100%;
	height:100%;
	padding:0px;
	left:0px;
	top:0px;
	text-align:center;
}
div.back{
	position:absolute;
	width:100%;
	height:100%;
	background-color:#000;
	opacity:0.6;
}
div.submain{
	text-align:left;
	display:inline-block;
	position:relative;
	background-color:#222;
	height:90%;
	max-width:90%;
	margin:20px;
}
table{
	height:100%;
	width:100%;
	overflow:auto;
	display:block;
	text-align:left;
}
tr td{
	white-space:pre-wrap;
}
thead{
	position:sticky;
	display:table-caption;
	top:0;
	z-index:100;
	background-color:#111;
}
tbody th{
	position:sticky;
	background-color:#111;
	z-index:99;
}
tbody{
	font-size:smaller;
	height:90%;
}
th{
	overflow:hidden;

}
th.cat{
	text-align:center;
}
th,td{
	overflow:hidden;
	display:inline-block;
}
table tbody tr:nth-child(odd) {
	background: #333;
}

tr .category{
	width:60px;
}
tr .active{
	width:200px;
}

tr .passive{
	width:300px;
}
tr .biko{
	width:300px;
}
tr .name{
	width:300px;
	font-size:larger;
	font-weight:bold;
	white-space: nowrap;
	overflow:hidden;

	padding:4px;

}
tr .status{
	width:30px;
}

.filtertarget{
	cursor:cell;
	text-decoration:underline dotted ;
}
.category::before{
	content:"[";
}
.category::after{
	content:"]";
}
.part{
	width:80px;
	display:inline-block;
	text-align:inherit;
	color:#999;
}
.class{
	width:100px;
	color:#999;
}
tr .rarelity{
	width:60px;
	color:#000;
}

tr .distance{
	width:100px;
}

tr th.pick{
	width:60px;
}
tr:nth-child(odd) th.pick {
	text-align:right;
}
button.pick{
	background-color:#c00;
	color:#fff;
	width:30px;
	height:32px;
}
tr.header_sort button{
text-decoration: underline;
    background: none;
    color: #fff;
padding:0px;
}
tr .cat.short{
	background-color:#311;
}
tr .cat.long{
	background-color:#133;
}
tr .cat.bougu{
	background-color:#313;
}

tr .cat{
	width:20px;
	text-align:right;
}
tr .shinki{
width:140px !important;
}
tr .recover
,tr .dash
,tr .dash_cost
,tr .jump_cost
,tr .guard_cost
,tr .hover_cost
{
	width:30px !important;
}
td.N
,td.R
,td.SR
,td.UR{
color:#000;
}
tr .distance{
width:80px;
}
tr .category.short
, .distance.short{
color:#f66;
}
tr .category.long
, .distance.long{
color:#0cf;
}
tr .category.bougu{
color:#939;
}

span.guarge_parent{
	width: 102px;
	height: 2px;
	display: block;
	background-color: #000;
	padding-left:1px;
	padding-right:1px;
}
div.guarge_child{
	width:20%;
	height:100%;
	background-color: #ccc;
}

tr .guarge
{
	width:110px;
	margin:0px;
	padding:0px;
}
tr .flying{
	width:20px;
}
tbody .guarge_title{
	font-size:6px;
}
thead .guarge_parent
,thead .guarge_title{
	display:none;
}
